<!DOCTYPE html>
  <head>
    <title>Pet Adoption - New Puppy Listed</title>
  </head>

  <body>
    <h1>New Puppy Listed</h1>
    <p>Puppy Name: <%= @puppy.name%></p>
    <p>Puppy Breed: <%= @puppy.breed%></p>
    <p>Puppy Age: <%= @puppy.age%></p>
  </body>
</html>
